@model IEnumerable<ITMCollege.Areas.Admin.Models.RegistrationViewModel>
@{
    ViewBag.Title = "Registration List";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Registration List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item active">Registration</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="card">
        <div class="card-header">
            <form id="filter-products" class="form-inline">
                <div class="row mx-auto">
                    <div class="d-inline use-chosen">
                        <input name="name" type="text" class="form-control search-name" value="" id="name" placeholder="Search by name...">
                    </div>
                    <div class="d-inline px-2">
                        <select class="form-control use-chosen" id="StreamList">
                            <option value="">---Choose Stream----</option>
                            @foreach (var item in ViewBag.StreamList)
                            {
                                <option value='@item.StreamId'>@item.StreamName</option>
                            }
                        </select>
                    </div>
                    <div class="d-inline px-2">
                        <select class="form-control use-chosen" id="FieldList">
                            <option value="">---Choose Field---</option>
                        </select>
                    </div>
                    <div class="d-inline px-2">
                        <button class="btn btn-primary" id="btnFilter">Filter</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped project ">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center align-middle" style="width: 5%">No.</th>
                        <th class="text-center align-middle" style="width: 5%">Registration Number</th>
                        <th class="text-center align-middle" style="width: 15%">Full Name</th>
                        <th class="text-center align-middle" style="width: 20%">Stream</th>
                        <th class="text-center align-middle" style="width: 20%">Field</th>
                        <th class="text-center align-middle" style="width: 15%">Specialized Subject</th>
                        <th class="text-center align-middle" style="width: 15%">Optinal Subject</th>
                        <th class="text-center align-middle" style="width: 5%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int no = 1+(pageNo-1)*10;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-center align-middle">
                                <span>@(no++)</span>
                            </td>
                            <td class="text-center align-middle">@item.RegNum</td>
                            <td class="text-center align-middle">@item.FullName </td>
                            <td class="text-center align-middle">@item.Stream.StreamName</td>
                            <td class="text-center align-middle">@item.Field.FieldName</td>
                            <td class="text-center align-middle">@item.SpeSubject.SubjectName</td>
                            <td class="text-center align-middle">@item.OpSubject.SubjectName</td>
                            <td class="text-center align-middle">
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="Registrations" asp-action="Details" asp-route-id="@item.RegistrationId">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <partial name="_pager" model="@pager" />
    </div>
</section>
@section Scripts {
    <script>
        $("#StreamList").change(function () {
            $("#FieldList option[value!='']").remove();
            var StreamId = $(this).val();
            if (StreamId != "") {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Registrations/GetFieldByStreamId",
                    data: { 'StreamId': StreamId },
                    success: function (res) {
                        if (res) {
                            $.each(res, function (index, value) {
                                $("#FieldList").append('<option value="' + value.fieldId + '">' + value.fieldName + '</option>');
                            });
                        }
                    },

                });
            }
        });
    </script>
}