@model IEnumerable<ITMCollege.Areas.Admin.Models.RegistrationViewModel>
@{
    ViewBag.Title = "Registration List";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Registration List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item active">Registration</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="col-md-12 my-2 d-flex justify-content-end">
    <a class="btn btn-success" asp-area="Admin" asp-controller="Registrations" asp-action="DownloadExcelDocument" asp-route-searchName="@ViewBag.searchName" asp-route-searchRegNum="@ViewBag.searchRegNum" asp-route-searchStream="@ViewBag.searchStream" asp-route-searchField="@ViewBag.searchField" asp-route-searchSpeSubject="@ViewBag.searchSpeSubject" asp-route-searchOpSubject="@ViewBag.searchOpSubject">Export Data to Excel</a>
</div>
<section class="content">
    
    <div class="card">
        <div class="card-header">
            <form id="filter-products">
                <div class="row mx-auto">
                    <div class="col-md-10 row">
                        <div class="col-md-4 mb-2">
                            <input name="searchRegNum" type="text" class="form-control search-name form-control-sm" value="@ViewBag.searchRegNum" id="RegNum" placeholder="Registration Number...">
                        </div>
                        <div class="col-md-4">
                            <select class="form-control use-chosen form-control-sm"  id="StreamList" name="searchStream">
                                <option value="0">---Choose Stream---</option>
                                @foreach (var item in ViewBag.StreamList)
                                {
                                    <option value='@item.StreamId'>@item.StreamName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control use-chosen form-control-sm" id="FieldList" name="searchField">
                                <option value="0">---Choose Field---</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control use-chosen form-control-sm" id="SpeSubjectList" name="searchSpeSubject">
                                <option value="0">---Choose Specialized Subject---</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control use-chosen form-control-sm" id="OpSubjectList" name="searchOpSubject">
                                <option value="0">---Choose Optional Subject---</option>
                                @foreach (var item in ViewBag.OpSubjectList)
                                {
                                    <option value='@item.SubjectId'>@item.SubjectName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary btn-sm" id="btnFilter">Filter</button>
                        <button type="reset" class="btn btn-outline-primary btn-sm" id="btnReset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped project table-sm ">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center align-middle" style="width: 5%">No.</th>
                        <th class="text-center align-middle" style="width: 5%">Registration Number</th>
                        <th class="text-center align-middle" style="width: 20%">Full Name</th>
                        <th class="text-center align-middle" style="width: 20%">Stream</th>
                        <th class="text-center align-middle" style="width: 20%">Field</th>
                        <th class="text-center align-middle" style="width: 20%">Specialized Subject</th>
                        <th class="text-center align-middle" style="width: 5%">Optinal Subject</th>
                        <th class="text-center align-middle" style="width: 5%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int no = 1+(pageNo-1)*10;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-center align-middle">
                                <span>@(no++)</span>
                            </td>
                            <td class="text-center align-middle">@item.RegNum</td>
                            <td class="text-center align-middle">@item.FullName </td>
                            <td class="text-center align-middle">@item.Stream.StreamName</td>
                            <td class="text-center align-middle">@item.Field.FieldName</td>
                            <td class="text-center align-middle">@item.SpeSubject.SubjectName</td>
                            <td class="text-center align-middle">@item.OpSubject.SubjectName</td>
                            <td class="text-center align-middle">
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="Registrations" asp-action="Details" asp-route-id="@item.RegistrationId">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item @(pageNo==1?"disabled":"")">
                <a class="page-link " asp-action="Index" asp-route-page="1" asp-route-searchRegNum="@ViewBag.searchRegNum" asp-route-searchStream="@ViewBag.searchStream" asp-route-searchField="@ViewBag.searchField" asp-route-searchSpeSubject="@ViewBag.searchSpeSubject" asp-route-searchOpSubject="@ViewBag.searchOpSubject">First</a>
            </li>
            <li class="page-item @(pageNo==1?"disabled":"")">
                <a class="page-link" asp-action="Index" asp-route-page="@(pageNo-1)" asp-route-searchRegNum="@ViewBag.searchRegNum" asp-route-searchStream="@ViewBag.searchStream" asp-route-searchField="@ViewBag.searchField" asp-route-searchSpeSubject="@ViewBag.searchSpeSubject" asp-route-searchOpSubject="@ViewBag.searchOpSubject">Previous</a>
            </li>
            @{
                int j = 1;
            }
            @for (int i = pageNo; j <= 10; i++)
            {
                j++;
                if (i <= ViewBag.TotalPage)
                {
                    <li class="page-item @(pageNo==i?"active":"")"><a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-searchStream="@ViewBag.searchStream" asp-route-searchField="@ViewBag.searchField" asp-route-searchName="@ViewBag.searchName">@i</a></li>
                }
            }
            <li class="page-item @(pageNo==ViewBag.TotalPage?"disabled":"")">
                <a class="page-link" asp-action="Index" asp-route-page="@(pageNo+1)" asp-route-searchRegNum="@ViewBag.searchRegNum" asp-route-searchStream="@ViewBag.searchStream" asp-route-searchField="@ViewBag.searchField" asp-route-searchSpeSubject="@ViewBag.searchSpeSubject" asp-route-searchOpSubject="@ViewBag.searchOpSubject">Next</a>
            </li>
            <li class="page-item @(pageNo==ViewBag.TotalPage?"disabled":"")">
                <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.TotalPage" asp-route-searchRegNum="@ViewBag.searchRegNum" asp-route-searchStream="@ViewBag.searchStream" asp-route-searchField="@ViewBag.searchField" asp-route-searchSpeSubject="@ViewBag.searchSpeSubject" asp-route-searchOpSubject="@ViewBag.searchOpSubject">Last</a>
            </li>
        </ul>
    </nav>
</section>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#StreamList").val(@ViewBag.searchStream).change();
            $("#OpSubjectList").val(@ViewBag.searchOpSubject).change();
        });
        $("#StreamList").change(function () {
            $("#FieldList option[value!='0']").remove();
            var StreamId = $(this).val();
            if (StreamId != "0") {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Registrations/GetFieldByStreamId",
                    data: { 'StreamId': StreamId },
                    success: function (res) {
                        if (res) {
                            $.each(res, function (index, value) {
                                $("#FieldList").append('<option value="' + value.fieldId + '">' + value.fieldName + '</option>');
                            });
                        }
                        $("#FieldList").val(@ViewBag.searchField).change();
                    },

                });
            }
        });
        $("#FieldList").change(function () {
            $("#SpeSubjectList option[value!='0']").remove();
            var FieldId = $(this).val();
            if (FieldId != "0") {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Registrations/GetSpecialSubjectsByFieldId",
                    data: { 'FieldId': FieldId },
                    success: function (res) {
                        if (res) {
                            $.each(res, function (index, value) {
                                $("#SpeSubjectList").append('<option value="' + value.subjectId + '">' + value.subjectName + '</option>');
                            });
                        }
                        $("#SpeSubjectList").val(@ViewBag.searchSpeSubject).change();
                    },

                });
            }
        });
    </script>
}