@model IEnumerable<ITMCollege.Models.Course>

@{
    ViewData["Title"] = "Course";
    Layout = "~/Views/Shared/Client/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: @Url.Content("~/Images/bg_1.jpg")">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Course</h2>
            </div>
        </div>
    </div>
</div>
<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a asp-area="Client" asp-controller="Home" asp-action="Index">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Course</span>
    </div>
</div>



<div class="card-header">
    <form asp-action="Index" id="filter-products" class="form-inline">
        <div class="row mx-auto">

            <div class="d-inline px-2">
                <select class="form-control use-chosen form-control-sm" id="StreamList" name="searchStream">
                    @foreach (var item in ViewBag.StreamList)
                    {
                        <option value='@item.Value'>@item.Text</option>
                    }
                </select>
            </div>
            <div class="d-inline px-2">
                <select class="form-control use-chosen form-control-sm" id="FieldList" name="searchField">
                    <option value="0">---Choose Field---</option>
                </select>
            </div>

            <div class="d-inline px-2">
                <button type="submit" class="btn btn-primary btn-sm" id="btnFilter">Filter</button>
                <button type="reset" class="btn btn-outline-primary btn-sm" id="btnReset">Reset</button>

            </div>
        </div>
    </form>
</div>

<div class="site-section">
    <div class="container news-updates">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="course-1-item post-entry-big">
                        <figure class="thumnail">
                            <a href="/courses/details/@item.CourseId" class="img-link"><img src="~/@item.Image" alt="@item.CourseName" width="340" height="200"></a>
                            @*<div class="price">$99.00</div>*@
                            <div class="category"><h3>@item.CourseName</h3></div>
                        </figure>
                        <div class="course-1-content pb-4">
                            <h2>How to learn @item.Field.FieldName more effectily</h2>
                            @*<div class="rating text-center mb-3">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>*@
                            <div class="desc mb-4">@item.Description</div>
                            <p><a href="/courses/details/@item.CourseId" class="btn btn-primary rounded-0 px-4">Course details</a></p>
                        </div>
                    </div>
                </div>
            }

        </div>


        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(pageNo==1?"disabled":"")">
                    <a class="page-link " asp-action="Index" asp-route-page="1"  asp-route-searchStream="@ViewBag.searchStream" asp-route-searchField="@ViewBag.searchField" >First</a>
                </li>
                <li class="page-item @(pageNo==1?"disabled":"")">
                    <a class="page-link" asp-action="Index" asp-route-page="@(pageNo-1)"  asp-route-searchStream="@ViewBag.searchStream" asp-route-searchField="@ViewBag.searchField" >Previous</a>
                </li>
                @{
                    int j = 1;
                }
                @for (int i = pageNo; j <= 10; i++)
                {
                    j++;
                    if (i <= ViewBag.TotalPage)
                    {
                        <li class="page-item @(pageNo==i?"active":"")"><a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-searchStream="@ViewBag.searchStream" asp-route-searchField="@ViewBag.searchField" asp-route-searchName="@ViewBag.searchName">@i</a></li>
                    }
                }
                <li class="page-item @(pageNo==ViewBag.TotalPage?"disabled":"")">
                    <a class="page-link" asp-action="Index" asp-route-page="@(pageNo+1)"  asp-route-searchStream="@ViewBag.searchStream" asp-route-searchField="@ViewBag.searchField" >Next</a>
                </li>
                <li class="page-item @(pageNo==ViewBag.TotalPage?"disabled":"")">
                    <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.TotalPage"  asp-route-searchStream="@ViewBag.searchStream" asp-route-searchField="@ViewBag.searchField" >Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="section-bg style-1" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-mortarboard"></span>
                <h3>Our Philosphy</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea? Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-school-material"></span>
                <h3>ITM College Principle</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                    Dolore, amet reprehenderit.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-library"></span>
                <h3>Key of Success</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                    Dolore, amet reprehenderit.
                </p>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>
        $(document).ready(function () {
            $("#StreamList").val(@ViewBag.searchStream).change();
            $("#StatusList").val(@ViewBag.searchStatus).change();
        });
        $("#StreamList").change(function () {
            $("#FieldList option[value!='0']").remove();
            var StreamId = $(this).val();
            if (StreamId != "0") {
                $.ajax({
                    type: "POST",
                    url: "/Client/Admissions/GetFields",
                    data: { 'StreamId': StreamId },
                    success: function (res) {
                        if (res) {
                            $.each(res, function (index, value) {
                                    $("#FieldList").append('<option value="' + value.fieldId + '">' + value.fieldName + '</option>');
                            });
                        }
                        $("#FieldList").val(@ViewBag.searchField).change();
                    },

                });
            }
        });
    </script>
}