@model ITMCollege.Models.Field

@{
    ViewData["Title"] = "Details";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Field</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stream.StreamName)
        </dt>
        <dd class = "col-sm-10">
            
            @Html.DisplayFor(model => model.Stream.StreamName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FieldId }) |
    <a asp-action="Index">Back to List</a>
</div>
