@model IEnumerable<ITMCollege.Models.Field>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FieldId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreamId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FieldId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreamId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.FieldId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FieldId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FieldId })
            </td>
        </tr>
}
    </tbody>
</table>
