@model ITMCollege.Models.Stream

@{
    ViewData["Title"] = "Details";
    Layout = "~/View/Shared/Admin/_Layout.cshtml";

}

<h1>Details</h1>

<div>
    <h4>Stream</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreamName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {id = Model.StreamId }) |
    <a asp-action="Index">Back to List</a>
</div>
