@model IEnumerable<ITMCollege.Models.Stream>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Stream</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StreamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreamName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StreamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreamName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StreamId}) |
                @Html.ActionLink("Details", "Details", new { id=item.StreamId}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StreamId})
            </td>
        </tr>
}
    </tbody>
</table>
