@model IEnumerable<ITMCollege.Models.Stream>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Stream</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<partial name="_pager" model="@pager" />
<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreamName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var count = 0;}
        @foreach (var item in Model)
        {
        <tr>
            @{ count++;}
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreamName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StreamId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StreamId }) |
                @*@{if (count) { } ;  }*@
                @Html.ActionLink("Delete", "Delete", new { id = item.StreamId })
            </td>
        </tr>
        }
    </tbody>
</table>
<partial name="_pager" model="@pager" />