@model ITMCollege.Models.Faculty

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Client/_Layout.cshtml";
}

  <br> 
  <br>
  <br>
  <br>
  <br>
  <br>
  <form asp-action="Details" >
    <select class="form-control" id="exampleFormControlSelect1" name="id">
    @foreach(var item in ViewBag.listdep)
    {
        <option value="@item.DepId">@item.DepName</option>
    }  
    </select>
    <input type="submit" value="Filter"  class="btn btn-primary rounded-0 px-4" />
    </form>
<div class="site-section">
      <div class="container">
           <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-4 mb-5">
            <h2 class="section-title-underline mb-5">
              <span>Faculties Team</span>
            </h2>
          </div>
        </div>
        <div class="row">
            @foreach(var item in ViewBag.listfacul){
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">
            <div class="feature-1 border person text-center">
                <img src="~/@item.Image" alt="Image">
              <div class="feature-1-content">
                <h2>@item.FalcultyName</h2>
                <span class="position mb-3 d-block">@item.Degree</span>    
                <p>@item.Dep.DepName</p>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
