@model IEnumerable<ITMCollege.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>Course</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Stream.StreamName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Field.FieldName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var count = 0;}
        @foreach (var item in Model)
        {
        <tr>
            @{ count++;}
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Stream.StreamName)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Field.FieldName)
            </td>
            <td>
                <img src="~/@item.Image" width="220" height="200" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
            </td>
        </tr>
        }
    </tbody>
</table>
